<% layout("/layouts/boilerplate") %>
<body>
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
     <% for(let item of list) { %>
    <div class="card " style="width: 20rem; ">
        <a href="/items/<%= item._id %>" class="nav-link">

     
  <img src="<%= item.image.url %>" class="card-img-top" alt="..." style="height: 20rem;" >
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <b> <p class="card-text"><%= item.title %></p></b>
   
    <p class="card-text">&#8377;<%= item.price.toLocaleString("en-IN")%></p>
  </div>
   </a>
</div>
   
  <% } %>                                                                 
     </div>
  



</body>


